.grow-0-0 {
        animation-name: growFlower-0-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-1 {
        animation-name: growFlower-0-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-2 {
        animation-name: growFlower-0-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-3 {
        animation-name: growFlower-0-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-4 {
        animation-name: growFlower-0-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-5 {
        animation-name: growFlower-0-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-6 {
        animation-name: growFlower-0-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-7 {
        animation-name: growFlower-0-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-8 {
        animation-name: growFlower-0-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-9 {
        animation-name: growFlower-0-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-0-10 {
        animation-name: growFlower-0-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-0 {
        animation-name: growFlower-1-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-1 {
        animation-name: growFlower-1-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-2 {
        animation-name: growFlower-1-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-3 {
        animation-name: growFlower-1-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-4 {
        animation-name: growFlower-1-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-5 {
        animation-name: growFlower-1-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-6 {
        animation-name: growFlower-1-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-7 {
        animation-name: growFlower-1-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-8 {
        animation-name: growFlower-1-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-9 {
        animation-name: growFlower-1-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-1-10 {
        animation-name: growFlower-1-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-0 {
        animation-name: growFlower-2-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-1 {
        animation-name: growFlower-2-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-2 {
        animation-name: growFlower-2-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-3 {
        animation-name: growFlower-2-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-4 {
        animation-name: growFlower-2-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-5 {
        animation-name: growFlower-2-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-6 {
        animation-name: growFlower-2-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-7 {
        animation-name: growFlower-2-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-8 {
        animation-name: growFlower-2-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-9 {
        animation-name: growFlower-2-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-2-10 {
        animation-name: growFlower-2-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-0 {
        animation-name: growFlower-3-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-1 {
        animation-name: growFlower-3-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-2 {
        animation-name: growFlower-3-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-3 {
        animation-name: growFlower-3-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-4 {
        animation-name: growFlower-3-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-5 {
        animation-name: growFlower-3-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-6 {
        animation-name: growFlower-3-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-7 {
        animation-name: growFlower-3-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-8 {
        animation-name: growFlower-3-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-9 {
        animation-name: growFlower-3-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-3-10 {
        animation-name: growFlower-3-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-0 {
        animation-name: growFlower-4-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-1 {
        animation-name: growFlower-4-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-2 {
        animation-name: growFlower-4-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-3 {
        animation-name: growFlower-4-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-4 {
        animation-name: growFlower-4-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-5 {
        animation-name: growFlower-4-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-6 {
        animation-name: growFlower-4-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-7 {
        animation-name: growFlower-4-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-8 {
        animation-name: growFlower-4-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-9 {
        animation-name: growFlower-4-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-4-10 {
        animation-name: growFlower-4-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-0 {
        animation-name: growFlower-5-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-1 {
        animation-name: growFlower-5-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-2 {
        animation-name: growFlower-5-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-3 {
        animation-name: growFlower-5-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-4 {
        animation-name: growFlower-5-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-5 {
        animation-name: growFlower-5-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-6 {
        animation-name: growFlower-5-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-7 {
        animation-name: growFlower-5-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-8 {
        animation-name: growFlower-5-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-9 {
        animation-name: growFlower-5-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-5-10 {
        animation-name: growFlower-5-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-0 {
        animation-name: growFlower-6-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-1 {
        animation-name: growFlower-6-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-2 {
        animation-name: growFlower-6-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-3 {
        animation-name: growFlower-6-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-4 {
        animation-name: growFlower-6-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-5 {
        animation-name: growFlower-6-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-6 {
        animation-name: growFlower-6-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-7 {
        animation-name: growFlower-6-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-8 {
        animation-name: growFlower-6-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-9 {
        animation-name: growFlower-6-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-6-10 {
        animation-name: growFlower-6-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-0 {
        animation-name: growFlower-7-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-1 {
        animation-name: growFlower-7-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-2 {
        animation-name: growFlower-7-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-3 {
        animation-name: growFlower-7-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-4 {
        animation-name: growFlower-7-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-5 {
        animation-name: growFlower-7-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-6 {
        animation-name: growFlower-7-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-7 {
        animation-name: growFlower-7-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-8 {
        animation-name: growFlower-7-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-9 {
        animation-name: growFlower-7-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-7-10 {
        animation-name: growFlower-7-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-0 {
        animation-name: growFlower-8-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-1 {
        animation-name: growFlower-8-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-2 {
        animation-name: growFlower-8-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-3 {
        animation-name: growFlower-8-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-4 {
        animation-name: growFlower-8-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-5 {
        animation-name: growFlower-8-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-6 {
        animation-name: growFlower-8-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-7 {
        animation-name: growFlower-8-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-8 {
        animation-name: growFlower-8-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-9 {
        animation-name: growFlower-8-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-8-10 {
        animation-name: growFlower-8-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-0 {
        animation-name: growFlower-9-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-1 {
        animation-name: growFlower-9-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-2 {
        animation-name: growFlower-9-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-3 {
        animation-name: growFlower-9-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-4 {
        animation-name: growFlower-9-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-5 {
        animation-name: growFlower-9-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-6 {
        animation-name: growFlower-9-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-7 {
        animation-name: growFlower-9-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-8 {
        animation-name: growFlower-9-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-9 {
        animation-name: growFlower-9-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-9-10 {
        animation-name: growFlower-9-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-0 {
        animation-name: growFlower-10-0;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-1 {
        animation-name: growFlower-10-1;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-2 {
        animation-name: growFlower-10-2;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-3 {
        animation-name: growFlower-10-3;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-4 {
        animation-name: growFlower-10-4;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-5 {
        animation-name: growFlower-10-5;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-6 {
        animation-name: growFlower-10-6;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-7 {
        animation-name: growFlower-10-7;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-8 {
        animation-name: growFlower-10-8;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-9 {
        animation-name: growFlower-10-9;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
.grow-10-10 {
        animation-name: growFlower-10-10;
        animation-duration: 0.1s;
        animation-timing-function: ease;
       }
      
@keyframes growFlower-0-0 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-0-1 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-0-2 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-0-3 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-0-4 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-0-5 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-0-6 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-0-7 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-0-8 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-0-9 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-0-10 {
        from {
          height: 0px;
          width: 0px;
          transform:rotate(0deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-1-0 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-1-1 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-1-2 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-1-3 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-1-4 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-1-5 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-1-6 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-1-7 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-1-8 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-1-9 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-1-10 {
        from {
          height: 10px;
          width: 10px;
          transform:rotate(5deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-2-0 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-2-1 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-2-2 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-2-3 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-2-4 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-2-5 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-2-6 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-2-7 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-2-8 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-2-9 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-2-10 {
        from {
          height: 20px;
          width: 20px;
          transform:rotate(10deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-3-0 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-3-1 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-3-2 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-3-3 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-3-4 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-3-5 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-3-6 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-3-7 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-3-8 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-3-9 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-3-10 {
        from {
          height: 30px;
          width: 30px;
          transform:rotate(15deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-4-0 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-4-1 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-4-2 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-4-3 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-4-4 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-4-5 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-4-6 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-4-7 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-4-8 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-4-9 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-4-10 {
        from {
          height: 40px;
          width: 40px;
          transform:rotate(20deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-5-0 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-5-1 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-5-2 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-5-3 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-5-4 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-5-5 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-5-6 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-5-7 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-5-8 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-5-9 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-5-10 {
        from {
          height: 50px;
          width: 50px;
          transform:rotate(25deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-6-0 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-6-1 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-6-2 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-6-3 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-6-4 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-6-5 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-6-6 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-6-7 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-6-8 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-6-9 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-6-10 {
        from {
          height: 60px;
          width: 60px;
          transform:rotate(30deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-7-0 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-7-1 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-7-2 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-7-3 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-7-4 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-7-5 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-7-6 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-7-7 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-7-8 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-7-9 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-7-10 {
        from {
          height: 70px;
          width: 70px;
          transform:rotate(35deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-8-0 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-8-1 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-8-2 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-8-3 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-8-4 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-8-5 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-8-6 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-8-7 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-8-8 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-8-9 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-8-10 {
        from {
          height: 80px;
          width: 80px;
          transform:rotate(40deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-9-0 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-9-1 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-9-2 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-9-3 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-9-4 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-9-5 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-9-6 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-9-7 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-9-8 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-9-9 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-9-10 {
        from {
          height: 90px;
          width: 90px;
          transform:rotate(45deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
@keyframes growFlower-10-0 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 0px;
          width:  0px;
          transform:rotate(0deg);
        }
      }
      
@keyframes growFlower-10-1 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 10px;
          width:  10px;
          transform:rotate(5deg);
        }
      }
      
@keyframes growFlower-10-2 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 20px;
          width:  20px;
          transform:rotate(10deg);
        }
      }
      
@keyframes growFlower-10-3 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 30px;
          width:  30px;
          transform:rotate(15deg);
        }
      }
      
@keyframes growFlower-10-4 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 40px;
          width:  40px;
          transform:rotate(20deg);
        }
      }
      
@keyframes growFlower-10-5 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 50px;
          width:  50px;
          transform:rotate(25deg);
        }
      }
      
@keyframes growFlower-10-6 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 60px;
          width:  60px;
          transform:rotate(30deg);
        }
      }
      
@keyframes growFlower-10-7 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 70px;
          width:  70px;
          transform:rotate(35deg);
        }
      }
      
@keyframes growFlower-10-8 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 80px;
          width:  80px;
          transform:rotate(40deg);
        }
      }
      
@keyframes growFlower-10-9 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 90px;
          width:  90px;
          transform:rotate(45deg);
        }
      }
      
@keyframes growFlower-10-10 {
        from {
          height: 100px;
          width: 100px;
          transform:rotate(50deg);
        }
        to {
          height: 100px;
          width:  100px;
          transform:rotate(50deg);
        }
      }
      
